# Puerto de la aplicación
PORT=8080

# Base de datos MongoDB
MONGODB_URI=mongodb+srv://usuario:contraseña@cluster.mongodb.net/ecommerce?retryWrites=true&w=majority

# JWT
JWT_PRIVATE_KEY=tu_clave_secreta_muy_segura_cambiar_en_produccion

# Email Configuration (Gmail)
MAIL_SERVICE=gmail
MAIL_USER=tu_email@gmail.com
MAIL_PASSWORD=tu_app_password_generado_en_google
MAIL_FROM=tu_email@gmail.com

# Entorno
NODE_ENV=development

# URLs
BASE_URL=http://localhost:8080
